Repository martysai/artificial-text-detection: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, darglint, flake8, isort, autoflake

black:
  name: black
  entry: poetry run black --config pyproject.toml
  language: system

darglint:
  name: darglint
  entry: poetry run darglint --verbosity 2 --docstring-style numpy
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

isort:
  name: isort
  entry: poetry run isort --settings-path pyproject.toml
  language: system

autoflake:
  name: autoflake
  entry: autoflake -i --remove-all-unused-imports --ignore-init-module-imports
  language: python
  require_serial: true

renamed the project to artificial_detection and published to pypi
  README.md
  artificial_detection/README.md
  artificial_detection/__init__.py
  artificial_detection/arguments.py
  artificial_detection/data/README.md
  artificial_detection/data/__init__.py
  artificial_detection/data/const.py
  artificial_detection/data/datasets.py
  artificial_detection/data/factory.py
  artificial_detection/data/generate.py
  artificial_detection/data/generate_language_model.py
  artificial_detection/models/README.md
  artificial_detection/models/__init__.py
  artificial_detection/models/const.py
  artificial_detection/models/detectors.py
  artificial_detection/models/language_model.py
  artificial_detection/models/smr/__init__.py
  artificial_detection/models/smr/core.py
  artificial_detection/models/smr/sais.py
  artificial_detection/models/translation.py
  artificial_detection/models/validate.py
  artificial_detection/pipeline.py
  artificial_detection/unsupervised_baseline.py
  artificial_detection/utils.py
  poetry.lock
  pyproject.toml
  setup.py
  tests/test_arguments.py
  tests/test_detectors.py
  tests/test_factory.py
  tests/test_functionality.py
  tests/test_language_model.py
  tests/test_pipelines.py
  tests/test_translate.py
Due: black, darglint, flake8, isort, autoflake

removed wandb badge
  README.md
Due: none

Renamed the project to artificial_detection and published to PyPi (#26)
  README.md
  artificial_detection/README.md
  artificial_detection/__init__.py
  artificial_detection/arguments.py
  artificial_detection/data/README.md
  artificial_detection/data/__init__.py
  artificial_detection/data/const.py
  artificial_detection/data/datasets.py
  artificial_detection/data/factory.py
  artificial_detection/data/generate.py
  artificial_detection/data/generate_language_model.py
  artificial_detection/models/README.md
  artificial_detection/models/__init__.py
  artificial_detection/models/const.py
  artificial_detection/models/detectors.py
  artificial_detection/models/language_model.py
  artificial_detection/models/smr/__init__.py
  artificial_detection/models/smr/core.py
  artificial_detection/models/smr/sais.py
  artificial_detection/models/translation.py
  artificial_detection/models/validate.py
  artificial_detection/pipeline.py
  artificial_detection/unsupervised_baseline.py
  artificial_detection/utils.py
  poetry.lock
  pyproject.toml
  setup.py
  tests/test_arguments.py
  tests/test_detectors.py
  tests/test_factory.py
  tests/test_functionality.py
  tests/test_language_model.py
  tests/test_pipelines.py
  tests/test_translate.py
Due: black, darglint, flake8, isort, autoflake

debug verbosity
  artificial_detection/models/detectors.py
Due: isort, autoflake

save predictions
  artificial_detection/unsupervised_baseline.py
Due: isort, autoflake

renamed the data module and added lightning as a dependency
  artificial_detection/data/data.py
  artificial_detection/data/factory.py
  artificial_detection/data/generate.py
  artificial_detection/models/detectors.py
  artificial_detection/pipeline.py
  artificial_detection/unsupervised_baseline.py
  artificial_detection/utils.py
  poetry.lock
  pyproject.toml
Due: isort, autoflake

removed unnecessary prints
  artificial_detection/models/detectors.py
Due: isort, autoflake

Moved data module and added torch lightning support (#27)
  artificial_detection/data/data.py
  artificial_detection/data/factory.py
  artificial_detection/data/generate.py
  artificial_detection/models/detectors.py
  artificial_detection/pipeline.py
  artificial_detection/unsupervised_baseline.py
  artificial_detection/utils.py
  poetry.lock
  pyproject.toml
Due: isort, autoflake

prepared the setup for proxy metrics
  artificial_detection/data/proxy.py
  tests/test_proxy.py
Due: black, darglint, flake8, isort, autoflake

simple set up for unit tests
  tests/test_proxy.py
Due: black, darglint, flake8, isort, autoflake

added main implementation part
  artificial_detection/data/proxy.py
  tests/test_proxy.py
Due: black, darglint, flake8, isort, autoflake

added tests for calculator and restructured the arguments module
  artificial_detection/arguments/__init__.py
  artificial_detection/arguments/arguments.py
  artificial_detection/arguments/proxy_arguments.py
  artificial_detection/data/proxy.py
  tests/test_proxy.py
Due: black, darglint, flake8, isort, autoflake

added simple proxy requirements
  proxy_requirements.txt
Due: none

reduced requirements file
  proxy_requirements.txt
Due: none

finished with comet setup
  artificial_detection/arguments/__init__.py
  artificial_detection/arguments/proxy_arguments.py
  artificial_detection/data/proxy.py
Due: isort, autoflake

removed proxy requirements
  proxy_requirements.txt
Due: none

refactored running script
  artificial_detection/arguments/proxy_arguments.py
  artificial_detection/data/proxy.py
  scripts/run_proxy.sh
Due: isort, autoflake

changed argument usage in the script
  scripts/run_proxy.sh
Due: none

removed prints
  artificial_detection/data/proxy.py
Due: isort, autoflake

saved a tempo state
  artificial_detection/arguments/proxy_arguments.py
  artificial_detection/data/proxy.py
  scripts/load_bleurt.py
  scripts/load_comet.py
  scripts/run_proxy.sh
Due: isort, autoflake

updated dependencies
  poetry.lock
  pyproject.toml
Due: none

saved a temp state
  artificial_detection/arguments/__init__.py
  poetry.lock
  pyproject.toml
  scripts/load_bleurt.py
  tests/test_proxy.py
Due: black, darglint, flake8, isort, autoflake

resolved proxy deps
  poetry.lock
  pyproject.toml
Due: none

fixed bleurt usage
  artificial_detection/data/proxy.py
Due: isort, autoflake

added the setup for BERTScore
  artificial_detection/data/proxy.py
  scripts/load_bleurt.py
Due: isort, autoflake

customized output name
  scripts/run_proxy.sh
Due: none

added bertscore to poetry
  poetry.lock
  pyproject.toml
Due: none

added load_bert_score
  scripts/load_bert_score.py
Due: isort, autoflake

saved a tempo state
  artificial_detection/data/proxy.py
Due: isort, autoflake

added plotly
  poetry.lock
  pyproject.toml
Due: none

saved tempo state
  artificial_detection/data/proxy.py
  scripts/load_xlm_large.py
Due: isort, autoflake

added bert score
  poetry.lock
  pyproject.toml
Due: none

bleurt and lexical richness
  artificial_detection/data/proxy.py
  scripts/bertscore.py
  tests/test_proxy.py
Due: black, darglint, flake8, isort, autoflake

bleurt and lexical richness
  tests/test_proxy.py
Due: black, darglint, flake8, isort, autoflake

updated poetry
  poetry.lock
  pyproject.toml
  tests/test_proxy.py
Due: black, darglint, flake8, isort, autoflake

returned back test proxy
  tests/test_proxy.py
Due: black, darglint, flake8, isort, autoflake

switched back to xlm
  artificial_detection/arguments/proxy_arguments.py
  artificial_detection/data/proxy.py
  scripts/load_xlm_large.py
  scripts/run_proxy.sh
Due: isort, autoflake

added Summer
  artificial_detection/data/proxy.py
Due: isort, autoflake

removed commented tests
  tests/test_proxy.py
Due: black, darglint, flake8, isort, autoflake

Added proxy metrics (#28)
  artificial_detection/arguments/__init__.py
  artificial_detection/arguments/arguments.py
  artificial_detection/arguments/proxy_arguments.py
  artificial_detection/data/proxy.py
  poetry.lock
  pyproject.toml
  scripts/bertscore.py
  scripts/load_bert_score.py
  scripts/load_bleurt.py
  scripts/load_comet.py
  scripts/load_xlm_large.py
  scripts/run_proxy.sh
  tests/test_proxy.py
Due: black, darglint, flake8, isort, autoflake

Path conditions:
  black: any of: demandtools|tests and \.py$
  darglint: any of: demandtools|tests and \.py$
  flake8: any of: demandtools|tests and \.py$
  isort: any of: \.py$
  autoflake: any of: \.py$
