Repository martysai/artificial-text-detection: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, darglint, flake8, isort, autoflake

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
        - id: check-yaml
        - id: check-json
        - id: end-of-file-fixer
        - id: trailing-whitespace
        - id: check-added-large-files
        - id: check-merge-conflict
        - id: detect-private-key

    - repo: local
      hooks:
        - id: black
          files: demandtools|tests
          name: black
          entry: poetry run black --config pyproject.toml
          types: [ python ]
          language: system

    - repo: local
      hooks:
        - id: darglint
          files: demandtools|tests
          name: darglint
          entry: poetry run darglint --verbosity 2 --docstring-style numpy
          types: [ python ]
          language: system

    - repo: local
      hooks:
        - id: flake8
          files: demandtools|tests
          name: flake8
          entry: poetry run flake8
          types: [ python ]
          language: system

    - repo: local
      hooks:
        - id: isort
          name: isort
          entry: poetry run isort --settings-path pyproject.toml
          types: [ python ]
          language: system

    - repo: local
      hooks:
      - id: autoflake
        name: autoflake
        entry: autoflake -i --remove-all-unused-imports --ignore-init-module-imports
        language: python
        types: [ python ]
        require_serial: true

did refactoring before supervised models implementation
  README.md
  artificial_detection/arguments/__init__.py
  artificial_detection/arguments/arguments.py
  artificial_detection/arguments/supervised_arguments.py
  artificial_detection/models/detectors.py
  artificial_detection/pipelines/__init__.py
  artificial_detection/pipelines/const.py
  artificial_detection/pipelines/old.py
  artificial_detection/pipelines/supervised.py
  artificial_detection/pipelines/unsupervised_baseline.py
  tests/test_language_model.py
  tests/test_pipelines.py
Due: black, darglint, flake8, isort, autoflake

added a template for T5 and BART
  artificial_detection/models/detectors.py
Due: isort, autoflake

Refactoring for experiments (#29)
  README.md
  artificial_detection/arguments/__init__.py
  artificial_detection/arguments/arguments.py
  artificial_detection/arguments/supervised_arguments.py
  artificial_detection/models/detectors.py
  artificial_detection/pipelines/__init__.py
  artificial_detection/pipelines/const.py
  artificial_detection/pipelines/old.py
  artificial_detection/pipelines/supervised.py
  artificial_detection/pipelines/unsupervised_baseline.py
  tests/test_language_model.py
  tests/test_pipelines.py
Due: black, darglint, flake8, isort, autoflake

added a template for experiments
  artificial_detection/pipelines/compute.py
  artificial_detection/pipelines/supervised.py
Due: isort, autoflake

commit in the first closeup
  artificial_detection/pipelines/supervised.py
Due: isort, autoflake

added t5
  artificial_detection/models/t5.py
  artificial_detection/pipelines/supervised.py
Due: isort, autoflake

added t5
  artificial_detection/arguments/supervised_arguments.py
Due: isort, autoflake

added the draft on t5
  artificial_detection/models/t5.py
Due: isort, autoflake

refactored the pipeline for XLM and GPT
  artificial_detection/arguments/supervised_arguments.py
  artificial_detection/pipelines/supervised.py
Due: isort, autoflake

debugged GPT
  artificial_detection/pipelines/compute.py
  artificial_detection/pipelines/supervised.py
Due: isort, autoflake

removed unused comments
  artificial_detection/pipelines/supervised.py
Due: isort, autoflake

Transformers runs (#30)
  artificial_detection/arguments/supervised_arguments.py
  artificial_detection/models/t5.py
  artificial_detection/pipelines/compute.py
  artificial_detection/pipelines/supervised.py
Due: isort, autoflake

refactoring for atd repo
  .dvc/plots/confusion.json
  .dvc/plots/confusion_normalized.json
  .dvc/plots/linear.json
  .dvc/plots/scatter.json
  .dvc/plots/simple.json
  .dvc/plots/smooth.json
  docs/data.md
  docs/framework.md
  docs/models.md
  scripts/bertscore.py
  scripts/load_bert_score.py
  scripts/load_bleurt.py
  scripts/load_comet.py
  scripts/load_xlm_large.py
  scripts/run_proxy.sh
Due: isort, autoflake

docs refactoring and todos for bad snippets
  README.md
  artificial_detection/pipelines/supervised.py
  docs/data.md
  tests/test_translate.py
Due: black, darglint, flake8, isort, autoflake

templated docs
  docs/data.md
  docs/framework.md
  docs/models.md
Due: none

use np.cumsum
  artificial_detection/models/smr/sais.py
Due: isort, autoflake
